<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    {{> header}}
    <p>Here are various projects I have worked on in the past year</p>

    {{> footer}}
  </body>
</html>
